<h1></h1>

<table id="game">
  <tbody>
    <% Game::SIZE.times do |y| %>
      <tr>
        <% Game::SIZE.times do |x| %>
          <td class="<%= cell_status(x + 1, y + 1) %>">
            <% unless @game.completed? or @game.fire_at?(x + 1, y + 1) %>
              <%= link_to "X", game_fires_path(@game, x: x + 1, y: y + 1), method: :post %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
